---
import Greeting from "@/components/Greeting.svelte";
import Layout from "../layouts/Layout.astro";
import PlayListItemCard from "@/components/PlayListItemCard.astro";

import { playlists } from "@/lib/data";
---

<Layout title="Mayify">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-[#182437]"
  >
    <!-- <Page Header /> -->
    <div class="relative z-10 px-6 pt-10">
      <Greeting />

      <div class="flex flex-wrap mt-4 gap-6">
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-t from-[#121212] via-[#12121280]"
    >
    </div>
  </div>
</Layout>

<style></style>
